<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css">

    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto+Condensed&family=Source+Sans+Pro:wght@300&display=swap" rel="stylesheet">
	
</head>
<body>




    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Student Login</title>
        <link rel="stylesheet" href="/styles.css">
    
        <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto+Condensed&family=Source+Sans+Pro:wght@300&display=swap" rel="stylesheet">
    
    </head>
    <body>
    
        <img class="wave" src="/assets/wave.png" alt="">
        <div class="container">
    
            <div class="bg"> 
                <img src="/assets/bg.svg" alt="">
            </div>
    
            <div class="card" >
                <form action="/register" method="post">
                    <img src="/assets/avatar.svg" class="avatar" alt="">
                    <h1>Rigister</h1>
                        <div class="input-container">
                            <input type="text" name="name" placeholder=" " required>
                            <label>Name</label>
                        </div>
                        <div class="input-container">
                            <input type="email" name="email" placeholder=" " required>
                            <label>Email</label>
                        </div>
    
                        <div class="input-container">
                            <input type="password" name="password" placeholder=" " required>
                            <label>Password</label>
                        </div>
                    <button class="button">Register</button>
                </form>
                    <form action="/auth/google" method="GET">
                        <button type="submit" class="button google-button">Login with Google</button>
                      </form>
                    
            </div>
        </div>
    
    
            
   
        
</body>
</html>