<div class="sidebar">
    <div class="sidebar-content">
        <div class="sidebar-header">
            <img src="/assets/student.png" alt="logo">
            <h4><%= name %></h4>
        </div>
        <div class="pair">
            <i class="fa-solid fa-house-chimney"></i>
            <a href="/dashboard">Dashboard</a>
        </div>
        
        <h3>Class</h3>
        <div class="pair">
            <i class="fa fa-user-secret" aria-hidden="true"></i>
            <a href="/attendance">Attendance</a>
        </div>
        <div class="pair">
            <i class="fa-solid fa-calendar-days"></i>
            <a href="/timetable">Time Table</a>
        </div>
        <div class="pair">
            <i class="fa fa-book-open"></i>
            <a href="/study-material">Study Material</a>
        </div>

        <h3>College</h3>
        <div class="pair">
            <i class="fa fa-question"></i>
            <a href="/student-request">Student Request</a>
        </div>
        <div class="pair">
            <i class="fa fa-comments"></i>
            <a href="/complaints">Complaints</a>
        </div>
        <div class="pair">
            <i class="fa fa-book"></i>
            <a href="/library">Library</a>
        </div>
        <div class="pair">
            <i class="fa fa-briefcase"></i>
            <a href="/opportunities">Oppurtunities</a>
        </div>
        <div class="pair">
            <i class="fa fa-users"></i>
            <a href="/alumni">Alumni Network</a>
        </div>
        <div class="logout" style="display: flex; align-items: center;">
            <i class="fa fa-sign-out" style="color: #e65061; margin-right: 5px;"></i>
            <a href="/logout" style="color: #e65061;">Logout</a>
        </div>
    </div>
</div>